*{
    box-sizing: border-box;
}
body{
   margin: 0 auto;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    color: black;
}
.header{
    padding: 16px;
    display: flex;
    background-color: #ffffff;
    flex-direction: row;
    align-items: center;
}
.p{
    display: block;
    font-size: 20px;
    margin-right: auto;
}
.nav{
    display: block;
    margin-right: 16px;
    margin-top: 0;
    margin-bottom: 0;
}
.a{
    color: black;
    padding: 8px;
    text-decoration: underline;
}